p{
  color: rgb(42, 68, 29);
  text-align: center;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
ion-card{
  padding: 30px 30px 30px 30px;
  --background:rgb(162, 211, 147);
}
b{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(22, 31, 26);
  font-weight: bolder;
  margin-left: 5px;
}
/* (A) HIDE CHECKBOX */
.togCheck { display: none; }

/* (B) HIDE CONTENT BY DEFAULT */
.togContent {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 1s;
}
/* (C) SHOW CONTENT WHEN CHECKED */
.togCheck:checked + .togContent {
  max-height: 100vh; /* any insanely large number if a lot of contents */
  opacity: 1;
  visibility: visible;
}
/* (X) COSMETICS - DOES NOT MATTER */
/* (X1) ENTIRE DEMO */
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

/* (X2) TOGGLE BUTTON */
.togButton {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  background: #009f35;
  cursor: pointer;
}
/* (X3) CONTENT */
.togContent { background: #f4f6ff; }
.togContent p {
  padding: 50px 10px;
  margin: 0;
}


