#img{
  height: 250px;
  width: 250px;
}

#price{
  margin-left: 20px;
  font-size: larger;
  margin-top: 50px;
}

#name
{
  color:red;
  margin-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#cart{
  margin-right: 20px;
}
