
  .displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.h1{
  font-family:"Times New Roman", Times, serif;
}

.subav{
  font-family:Times New Roman !important;
  font-size:1.1em;
}