<ion-header>
  <ion-toolbar style="color:green;">
    <ion-buttons>
      <ion-button id="button" size="small" slot="end" [routerLink]="['/tabs/tab1']">
        <ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-title class="subav">contact</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="h1">
  <img class="displayed"  height="200 px" width="200 px" src="assets/ricep.jpg" alt="">

  <div class="ion-text-center" >
    <ion-text class="subav" color="success">
    <h2>Get in touch</h2>
  </ion-text>
  <h2><b>Our Rice </b></h2>
  </div>

<div class="ion-text-center" >
  <ion-text class="subav" color="success">
  <h2>leave us message</h2>
</ion-text>
</div>

<ion-grid class="subav"><center>
  <ion-row><ion-col><ion-icon name="pin" color="success"></ion-icon><h6>ADDRESS<br>62/61,<br>Bharat nagar,<br>Kumbakonam,<br>612001</h6>

  </ion-col></ion-row>
<ion-row><ion-col><ion-icon name="call" color="success"></ion-icon><h6>CALL<br>+918220707230</h6></ion-col></ion-row>
<ion-row><ion-col><ion-icon name="mail" color="success"></ion-icon><h6>EMAIL CONTACT<br>salesdesk@udayaagrofarm.com</h6>

</ion-col></ion-row>
<ion-row><ion-col><ion-icon name="globe" color="success"></ion-icon><h6>WEBSITE<br>www.udayaagro.com</h6></ion-col></ion-row></center>
</ion-grid>
</ion-content>