<ion-header>
  <ion-toolbar class="tool">   <ion-buttons slot="start">
    <ion-menu-button menu="start"><img alt="logo" id="header_logo" height="50" float-left src="assets/udhayaaa.png"></ion-menu-button>
  </ion-buttons>
    <ion-title>
         <ion-text ><b>OurRice Mart</b></ion-text>
    </ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-tabs> 

  <ion-tab-bar  class="tool" slot="bottom">
    <ion-tab-button tab="tab1">
      <img alt="logo" id="header_logo" height="20"  src="assets/rc.png">
      <ion-label>Rice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img alt="logo" id="header_logo" height="20"  src="assets/pas.jpg">
      <ion-label>Pasta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img alt="logo" id="header_logo" height="20"  src="assets/bread.jpg">
      <ion-label>More</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="light">
      <img alt="logo" id="header_logo" height="20"  src="assets/b3.jfif" >
      <ion-label>Light</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="carving">
      <img alt="logo" id="header_logo" height="20"  src="assets/ca6.jpg" >
      <ion-label>Carving</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

  

</ion-tabs>
