<ion-header>
  <ion-toolbar>
    <ion-title>Add Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Image url</ion-label>
        <ion-input formControlName="imgurl" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Kgs</ion-label>
        <ion-input formControlName="kgs" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input formControlName="price" type="text" required>
        </ion-input>
      </ion-item>
     
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Add</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
