<ion-header >
  <ion-toolbar class="tool"> 
    <ion-title> </ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content class="tool" >
  <br> 
  <ion-slides class="img" [options]="slideOpts" #slides>
    <ion-slide *ngFor="let slide of slideImages"
      [style.background-image]="'url(' + slide + ')'">
      <ion-grid>
        <ion-row class="logo">
          <ion-col>
            <ion-img  src="assets/Empty.png" id="img" >  </ion-img>
         </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <div class="ion-text-center" >
    <ion-text class="suba" color="primary">
    <h4>Introducing this first time in the world</h4>
  </ion-text>
    </div>
    <br> <br> 

    <div class="ion-text-center" >
      <ion-text class="subav" color="success">
      <h2>Welcome To Our Rice</h2>
    </ion-text>
    <p><b>A Little Story about us</b></p>
      </div>
     <ion-grid fixed>	
      <ion-row>	
      <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="6">	
      <ion-card class="venki" >	
      <ion-card-header>	
      <ion-card-subtitle><img src="../assets/ud1.jpg" alt=></ion-card-subtitle>	<br><br>
      <ion-card-title>         <input type="checkbox" id="check">
       <p>
        Our Rice Farm is an Indian Company located in the Temple town of Kumbakonam which is a part of the Rice Bowl of Tamil Nadu state, the Tanjore district .</p>
         <div class="content">
       <p>
         We at Our Rice Farm undertake intensive Agricultural production programmes with crop varieties developed by our own R&D programmes with evidence based nutritional and human health benefits, coupled with consumer acceptability. We follow Good Agricultural Practices (GAP) and Good Manufacturing Practices (GMP) to produce agriculture products with highest levels of food safety.
         </div>
         <label for="check">Read More</label></ion-card-title>	
      </ion-card-header>	
      </ion-card>	
      </ion-col>	

      <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="6">	
        <ion-card class="venki" >	
        <ion-card-header>	
        <ion-card-subtitle><img src="../assets/ricb.jpg" alt=></ion-card-subtitle>	
        <ion-card-title>  <input type="checkbox" id="check1">
          <p>
            Recently we had acquired anGreen Flora Biosciences Private Limited, an Agriculture R&D firm from Chennai and this integration has accelerated our R&D efforts towards development of crop varieties .</p>
               <div class="content">
          <p>
            with specific traits for development of products with unique selling proposals (USPs). At present we are also undertaking R&D programmes in crops for multiple speciality industrial applications. Udaya Agro Farm is an incubatee under the Agri- businees development – Technology Business Incubator programme of Tamil Nadu Agricultural University, Coimbatore. Membership No:228.</p>
           </div>
            <label for="check1">Read More</label></ion-card-title>	
        </ion-card-header>	
        
        </ion-card>	
        </ion-col>	

      </ion-row>	
      </ion-grid>	
 
      <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="4">	
        <ion-card class="venki" >	
        <ion-card-header>	
        
        <ion-card-title><input type="checkbox" id="check2">
        
          <ion-subtitle>health and nutrition details</ion-subtitle>
          <div class="content">
            <ul class="my-nav">
              <ion-text class="tool"><p>
              <li> Normal rice Protein will be 5 to 6% but this one is 14%</li>.
              <li> Normal rice will have 1 to 1.5%of dietary fibre. But this one is 15%</li><br>
              <li>This is globally unique and packaging is India unique..</li><br>
              <li> Latest residues/ chemical/ Toxins test certificate which is shows clearly 100% toxins free rice .
                Better than organic</li></p></ion-text>
            </ul>
          </div>
          <label for="check2">Read More</label>
        </ion-card-title>	
        </ion-card-header>	
        </ion-card>	
        </ion-col>	

        <br><br>
        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button color="primary" (click)="openCart()" #cart>
            <div class="cart-length">{{ cartItemCount | async }}</div>
            <ion-icon name="cart" class="cart-icon"></ion-icon>
          </ion-fab-button>
        </ion-fab>
         
        <p align="center">
        
          <ion-card *ngFor="let p of products" class="venk">
              
            <ion-card-header>
              <ion-card-title>{{ p.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-subtitle><img [src]="p.imgurl || '' "></ion-card-subtitle>
            
            <ion-card-content>
              <ion-row class="ion-align-items-center">
                <ion-col size="8">
                  <ion-label color="primary">
                    <b>{{ p.price | currency:'INR' }}</b>
                  </ion-label>
                </ion-col>
            
                <ion-col size="12" class="ion-text-right">
                  <ion-button  (click)="addToCart(p)"> Add To Cart
                    <ion-icon name="add"></ion-icon>
                  </ion-button>
                </ion-col>
  
              </ion-row>
            </ion-card-content>
          </ion-card>
        
      </p>

      <p align="center">
        
        <ion-card *ngFor="let p of feeds" class="venk">
            
          <ion-card-header>
            <ion-card-title>{{ p.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-subtitle><img [src]="p.imgurl || '' "></ion-card-subtitle>
          
          <ion-card-content>
            <ion-row class="ion-align-items-center">
              <ion-col size="8">
                <ion-label color="primary">
                  <b>{{ p.price | currency:'INR' }}</b>
                </ion-label>
              </ion-col>
          
              <ion-col size="12" class="ion-text-right">
                <ion-button  (click)="addToCart(p)"> Add To Cart
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </ion-col>

            </ion-row>
          </ion-card-content>
        </ion-card>
      
    </p>

        <div class="ion-text-center" >
          <ion-text class="subav" color="success">
          <h2>Latest</h2>
        </ion-text>
        <h2><b>From Our Blog </b></h2>
        </div>
  <div class="wraper">
        <ion-grid fixed>	
          <ion-row>	
         
          <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="4">	
          <ion-card class="venk" >	
          <ion-card-header>	
          <ion-card-subtitle><ion-icon name="calendar"></ion-icon>June9,2021  <ion-icon name="chatbubbles"></ion-icon>  0</ion-card-subtitle>	
          <br><br><br>
          <ion-card-title>In a major boost to India’s non-basmati #rice exports potential,
            two consignments 4.5 MT of patented ‘our village rice’ sourced 
            from #Kumbakonam, Thanjavur district, #TamilNadu by…
          <br> <br> 
          </ion-card-title>	
          </ion-card-header>	
          </ion-card>	
          </ion-col>	
    
          <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="4">	
            <ion-card class="venk" >	
            <ion-card-header>	
            <ion-card-subtitle><img src="../assets/yum.jpg" alt=></ion-card-subtitle><br>
            <ion-icon name="calendar"></ion-icon>September14,2019  <ion-icon name="chatbubbles"></ion-icon>  6
            <ion-card-title>Why our village rice Is Different From Other Rice!
              Rice is a staple food and the choice of many across the globe. However,
               it gets a bad reputation for many reasons.
                It is often…  <br> <br><br>
                 <br></ion-card-title>	
            </ion-card-header>	
            </ion-card>	
            </ion-col>	
  
            <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="4">	
              <ion-card class="venk" >	
              <ion-card-header>	
              <ion-card-subtitle><img src="../assets/ver.jpg" alt=></ion-card-subtitle>	<br>
              <ion-icon name="calendar"></ion-icon>june1,2019  <ion-icon name="chatbubbles"></ion-icon>  2
              <ion-card-title>Rice is a wonder grain and 5 myths about
                 rice that you should never believe
                1. Rice contains gluten Rice is a gluten-free food.
                 It is useful for the people who are allergic to 
                 gluten (celiac disease).
                 Not only white…  <br><br> <br>
                </ion-card-title>	
              </ion-card-header>	
              </ion-card>	
              </ion-col>	
    
          </ion-row>	
          </ion-grid>	
        </div>
</ion-content>
