.tool{
  --background:lavender;
  font-family:Times New Roman !important;
  font-size:1.1em;
}

.box {
  font-size: 25px;
  border-color: rgba(63, 63, 227, 0.79);
  border-radius: 10px;

}

.venk{
  font-family:Times New Roman !important;
  
}
.my-nav {
    list-style-type:circle;
  }
  .cart-icon {
    font-size: 50px;
  }
  
  .cart-length {
    color: var(--ion-color-primary);
    position: absolute;
    top: 18px;
    left: 25px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
  }