#button{
  --background: rgb(25, 138, 34);
  margin-right: 10px;

}
#toolbar{
  --background: rgb(126, 233, 135);
}
#cart{
  --background: rgb(25, 138, 34);
 }
 #title{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
