.up{
  background:lavender;
  height:20%;
  color:rgba(0, 60, 255, 0.585);
  font-family:Times New Roman !important;
    font-size:1.1em;
}

.bg{
  
  font-family:Times New Roman !important;
    font-size:1.1em;
}

.bg1{
  background:rgba(230, 230, 250, 0.76);
  font-family:Times New Roman !important;
    font-size:1.1em;
}


.tool{
  --background:lavender;
}