<ion-header>
  <ion-toolbar>
    <ion-buttons>
     
      <ion-button id="button" size="small" slot="end" [routerLink]="['/tabs/tab1']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    <ion-title>Blog</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="tool">
    <ion-text color="blue">
  <h2><center>blog update</center></h2></ion-text>

<ion-grid fixed  >	
  <ion-row>	
    <ion-col >
   <ion-card class="bg"><ion-card-content>
    	 
      <ion-subtitle><ion-icon name="calendar"></ion-icon> June 9, 2021 <ion-icon name="chatbubbles"></ion-icon>  0</ion-subtitle>	
      <br><br>
      <ion-text >In a major boost to India’s non-basmati #rice exports potential, two consignments 4.5 MT of patented ‘our village rice’ sourced from #Kumbakonam,
         Thanjavur district, #TamilNadu by a start-up Udaya Agro Farm was exported today to #Ghana & #Yemen via air & sea routes #APEDA @pibchennai pic.
         twitter.com/hekNbguRLI — APEDA (@APEDADOC) May 29, 2021
     </ion-text>
       </ion-card-content></ion-card></ion-col>

  </ion-row>	
  </ion-grid>	
<br><br>
 <ion-grid fixed >
  <ion-row>

    <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="6" >	
      <img width="80%" src="../assets/v1.jpg" alt="">
      </ion-col>	

      <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="6"><br><br>	
        <ion-card class="bg" >	
        <ion-card-header>	

          <ion-icon name="calendar"></ion-icon>  September 14, 2019  <ion-icon name="chatbubbles"></ion-icon>  6

       <ion-cart-subtitle><h3>Why our village rice Is Different From Other Rice!</h3></ion-cart-subtitle>
        <ion-card-title>Rice is a staple food and the choice of many across the globe.
          However, it gets a bad reputation for many reasons. 
          It is often said rice causes weight gain,
           a spike in blood glucose levels, constipation, drowsiness, etc.
            People with diabetes are told to stay away from rice.
          Despite all this, rice remains a...</ion-card-title>	
        </ion-card-header>	
        </ion-card>	
        </ion-col>	
        
<br><br>
  	

    <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="6">	<br><br>
      <ion-card class="bg" >	
      <ion-card-header>	

        <ion-icon name="calendar"></ion-icon>  June 1, 2019  <ion-icon name="chatbubbles"></ion-icon>  2

      <ion-cart-subtitle><h3>Rice is a wonder grain and 5 myths about rice that you should never believe</h3></ion-cart-subtitle>
      <ion-card-title>1. Rice contains gluten Rice is a gluten-free food. It is useful for the people who are allergic to gluten (celiac disease).
          Not only white rice even red and brown rice varieties are also gluten-free.
          2. Rice is fattening. When it comes to weight loss, the first thing that always comes to our mind is...</ion-card-title>	
      </ion-card-header>	
      </ion-card>	
      </ion-col>	
    
      <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="6">	
        <p align="right"><img width="80%" align="middle" src="../assets/v2.jpg" alt=""></p>
        </ion-col>

      <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="6">	
         <img width="80%"  src="../assets/v3.jpg" alt="">
        </ion-col>	
  
    <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="6">	<br><br><br>
      <ion-card class="bg" >	
      <ion-card-header>	

        <ion-icon name="calendar"></ion-icon>  August 9, 2016  <ion-icon name="chatbubbles"></ion-icon>  2

    <ion-cart-subtitle><h3>HEALTH BENEFITS OF RICE</h3></ion-cart-subtitle>
    <ion-card-title>Organic food consumption is rapidly increasing. 
      The heightened interest in the global environment and a willingness to look</ion-card-title>	
    </ion-card-header>	
    </ion-card>	
    </ion-col>	
    <br><br>
    
    <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="6"><br><br>	<br>
      <ion-card class="bg" >	
      <ion-card-header>	
       
        <ion-icon name="calendar"></ion-icon>   August 8, 2016  <ion-icon name="chatbubbles"></ion-icon>  0

      <ion-cart-subtitle><h3>5 Myths About Rice That You Should Never Believe</h3></ion-cart-subtitle>
      <ion-card-title>The Age of Information has given us modern conveniences like the Internet and smart devices.
          With these, information is readily available</ion-card-title>	
      </ion-card-header>	
      </ion-card>	
      </ion-col>	
      <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="6">	
        <p align="right"> <img width="80%" src="../assets/v4.jpg" alt=""></p>
        </ion-col>	
  
      <br><br>
    <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="6">	
      <img width="80%" src="../assets/v5.jpg" alt="">
      </ion-col>	

      <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="6">	<br><br><br>
        <ion-card class="bg" >	
        <ion-card-header>	

          <ion-icon name="calendar"></ion-icon>  August 3, 2016  <ion-icon name="chatbubbles"></ion-icon>  0

        <ion-cart-subtitle><h3>Rice: A Staple Food for More than Half of World’s Population</h3></ion-cart-subtitle>
        <ion-card-title>We are all fighting the ravages of time. But,
            what if time didn’t have to be so ravaging? 
            Antioxidants may be the answer to help your body grow old</ion-card-title>	
        </ion-card-header>	
        </ion-card>	
        </ion-col>	

  </ion-row>
</ion-grid>



  </ion-content>
